################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
[Bb]in/
**/[Bb]in/
[Oo]bj/
**/[Oo]bj/
[Ll]og/
**/[Ll]og/
[Ll]ogs/*
**/[Ll]ogs/*
wwwroot/